@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Pacifico&display=swap');

.App {
  text-align: center;
}

.flexDiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}  
body::-webkit-scrollbar-thumb {
  background: rgb(135, 8, 8); 
  border-radius: 10px;
}